@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import "tailwindcss";

html {
  @apply box-border;
}

.MuiFormControl-root {
  width: 100%;
}

@theme {
  --color-charcoal-800: #1c1c1c;
  --color-charcoal-700: #2c2c2c;
  --color-charcoal-600: #3c3c3c;
  --color-charcoal-500: #4c4c4c;
  --color-charcoal-400: #5c5c5c;
  --color-charcoal-300: #6c6c6c;
  --color-charcoal-200: #7c7c7c;
  --color-charcoal-100: #8c8c8c;
  --font-head: "Cormorant", serif;
  --font-body: "Monserrat", sans-serif;
  --font-logo: "Ephesis", cursive;
}

body {
  @apply font-body;
}

input:not([type="search"]) {
  @apply border border-charcoal-300/50 bg-charcoal-100/10 rounded-full px-3 py-2 w-full focus:outline-2 focus:outline-charcoal-600;
}

select {
  @apply bg-charcoal-700 text-white rounded-full px-3 py-2 w-full cursor-pointer focus:outline-2 focus:outline-charcoal-600;
}

select {
  appearance: base-select;
  position: relative;
}

select::picker-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

textarea {
  @apply border border-charcoal-300/50 bg-charcoal-100/10 rounded-xl px-3 py-2 w-full focus:outline-2 focus:outline-charcoal-600;
}

img {
  @apply w-full h-full object-cover;
}

table th, table td {
  @apply p-4;
}